<!--  Giscus embeds GitHub Discussions for per-post comments. Configuration intentionally hard-coded. -->

<div id="comments" class="mt-5">
    <script src="https://giscus.app/client.js"
            data-repo="wechaty/js.org"
            data-repo-id="R_kgDOHF4w6Q"
            data-category="General"
            data-category-id="DIC_kwDOHF4w6c4Cx6g7"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="1"
            data-input-position="bottom"
            data-theme="light"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>
    <noscript>
        Comments require JavaScript. You can also join the discussion on our
        <a href="https://github.com/wechaty/js.org/discussions/categories/general" rel="noopener" target="_blank">GitHub Discussions</a> page.
    </noscript>
</div>
